.officerListSearchDiv {
    display: flex;
    align-items: center;
    background-color: #1f2833;
    height: 4rem;
    padding: 0.7rem;
}

.officerListSearchInput {
    width: 75%;
    height: 2rem;
    margin: 0.5rem;
    background-color: #c3c4c5;
    border: none;
    padding-left: 3px;
}

.officerListSearchInput:focus {
    outline: 1px solid #66fcf1;

}

.officerListSearchButton {
    width: 20%;
    height: 2rem;
    margin: 1rem;
    background-color: #1f2833;
    border: 1px solid rgb(37, 173, 165);
    color: rgb(37, 173, 165);
}

.officerListSearchButton:hover {
    background-color: rgb(37, 173, 165);
    color: black;
    cursor: pointer;
}

.officerListListDiv {
    max-height: calc(100vh - calc(4rem + 125px));
    padding: 0.7rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.officerListCardDiv {
    display: flex;
    width: 95%;
    background-color: #1f2833;
    margin: 5px auto;
    padding: 10px;
}

.officerListCardDiv:hover {
    background-color: #4e6581;
    cursor: pointer;
}

.officerListCardName {
    font-size: 1rem;
    color: white;
    margin-bottom: 5px;
}

.officerListCardNif {
    margin-top: 5px;
    color: gray;
}

.officerListCardStatus {
    /*Push this div to the right of the parent div*/
    height: fit-content;
    margin-top: 16px;
    margin-left: auto;
    margin-right: 15px;
    border-radius: 7px;
}

.officerListCardStatusText {
    margin: 5px;
    font-size: 1.1rem;
}