.justificationDetailsOuterDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.justificationDurationRowDiv {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
}

.justificationDetailsDurationDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.justificationActionsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 35px;
}