.patrolCardMain {
    display: grid;
    grid-template-columns:
        /*Title*/
        0.6fr
        1px

        /*Timestamps*/
        250px
        1px

        /*Special Unit*/
        200px
        1px

        /*Members*/
        1fr
        1px

        /*Actions*/
        auto;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

.patrolCardSection {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
}

.titleDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}