* {
  min-width: 0;
}

*::before, *::after {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}

body {
  background-color: rgb(197, 198, 199);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar-thumb {
  background: #1f2833;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e6581;
}
