.officerListDiv {
    display: inline-block;
    /*padding-left: 5px;*/
    height: 100%;
    width: 40%;
    border-right: solid 1px #e80000;
}

.officerInfoOuterDiv {
    display: inline-block;
    height: calc(100vh - calc(4rem + 16px));
    padding: 0 10px;
    width: 60%;
}

.officerInfoInnerDiv {
    height: 100%;
    width: 100%;
}

.officerInfoAlterbarDiv {
    width: 100%;
    height: 4rem;
    padding: 0.7rem;
    background-color: rgb(31, 40, 51);
}

.officerInfoAlterButton {
    float: right;
    width: 20%;
    height: 2rem;
    margin: 1rem 0.5rem;
    border: 1px solid currentColor;
    background-color: rgb(31, 40, 51);
}

.officerInfoAlterButton:hover {
    color: black;
    cursor: pointer;
}

.officerInfoAlterButtonCreate {
    color: lightgreen;
}

.officerInfoAlterButtonCreate:hover {
    background-color: lightgreen;
}

.officerInfoAlterButtonEdit {
    color: cyan;
}

.officerInfoAlterButtonEdit:hover {
    background-color: cyan;
}

.officerInfoAlterButtonDelete {
    color: red;
}

.officerInfoAlterButtonDelete:hover {
    background-color: red;
}

.officerInfoAlterButtonSave {
    color: lightgreen;
}

.officerInfoAlterButtonSave:hover {
    background-color: lightgreen;
}

.officerInfoDetailsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    height: calc(100vh - calc(4rem + 130px));
    margin-top: 0.7rem;
    margin-left: 10px;
    padding: 0.5rem;
    background-color: rgb(31, 40, 51);
    overflow-y: auto;
}

.officerInfoDetailsDiv > fieldset {
    background-color: #647fa1;
    min-height: fit-content;
    width: 30%;
    padding: 10px;
    margin-top: 40px;
    border: 5px solid white;
    user-select: text;
}

.officerInfoDetailsDiv > fieldset > legend {
    color: white;
    font-size: 1.12rem;
    font-weight: bold;
    margin: auto;
}

.officerInfoInnerFieldsetDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.officerInfoDetailLabel {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.officerInfoInput {
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-size: 1rem;
    border-bottom: 3px solid #1f2833;
}

.officerInfoInput:focus {
    border-bottom: 3px solid #00fdfd;
}


.officerInfoInput:disabled {
    background-color: transparent;
    color: black;
    border: 0;
}
