.modal {
    background-color: #617c9d;
    border: 10px solid #1f2833;
}

.content {
    padding: 10px 5px;
    background-color: #617c9d;
    border: 10px solid #1f2833;
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formDiv > label {
    color: white;
}

.formDiv > input[type="text"],
.formDiv > input[type="number"] {
    /*width: 37vw;*/
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #1f2833;
    font-size: 1rem;

}

.formDiv > input:focus {
    border-bottom: 3px solid #00fdfd;
    outline: 0;
}

.invalidInput {
    border-bottom: 3px solid red !important;
}

/*TODO: Check https://www.w3schools.com/howto/howto_css_custom_checkbox.asp to learn how to styke the checkbox*/
.cadetCheckBox {
    margin: 0 2px 0 0;
    height: 17px;
    width: 17px;
}

.cadetCheckBoxLabel {
    color: white;
    font-size: 15px;
}

.submitButton {
    margin-top: 20px;
    /* margin-left: auto;/*
    /* width: fit-content; */
    color: green;
    border: 1px solid green;
    background-color: transparent;
    font-size: large;
}

.submitButton:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}