.modal {
    background-color: #617c9d;
    border: 10px solid #1f2833;
}

.header {
    box-sizing: border-box;
    width: 100%;
    color: #c3c4c5;
    background-color: #1f2833;
    border-bottom:5px solid black;
    text-align: center;
    padding: 5px;
}

.content {
    padding: 10px 5px;
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formDiv > label {
    color: white;
}

.formDiv > input {
    width: 37vw;
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #1f2833;
    font-size: 1rem;

}

.formDiv > input:focus {
    border-bottom: 3px solid #00fdfd;
    outline: 0;
}

.submitButton {
    margin-top: 20px;
    /* margin-left: auto;/*
    /* width: fit-content; */
    color: green;
    border: 1px solid green;
    background-color: transparent;
    font-size: large;
}

.submitButton:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}