.evaluationsDiv {
    box-sizing: border-box;
    height: calc(100% - 5.4rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 0.7rem 0;
}

.evaluationsDivWithTable {
    height: calc(100% - calc(5.4rem + 70px)) !important;
}

.managementBarMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.managementBarLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    max-width: 33%;
    gap: 15px;
}

.managementBarCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 0;
    height: 100%;
    min-width: 0;
}

.managementBarCenter > *:first-child {
    flex: 1 1 0;
    min-width: 0;
}

.managementBarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
    height: 100%;
    gap: 10px;
}