.decisionsListManagementDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.decisionsListListDiv {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: calc(100% - 5.4rem);
    max-width: 100%;
    padding: 0.7rem;
    overflow-x: hidden;
    overflow-y: auto !important;
}