.mainNavbar {
    background-color: rgb(31, 40, 51);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 4rem;
    min-height: fit-content;
    line-height: 3.5rem;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.pathsDiv {
    display: inline-block;
    height: 100%;
}

.subPathDiv {
    display: inline-block;
    height: 100%;
}

.userInfoDiv {
    position: relative;
    margin-left: auto;
    height: 100%;
    padding: 0 5px;
}

.userInfoDiv:hover {
    background-color: rgb(17, 22, 28);
    cursor: pointer;
}

.userInfoDiv:hover .userInfoDropdown {
    display: block;
}

.userInfoDropdown {
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: rgb(31, 40, 51);
    border: 1px solid rgb(17, 22, 28);
    border-radius: 5px;
    z-index: 1;
}

.userInfoDropdownLink {
    display: block;
    margin: 0;
    color: white;
    font-size: 14px;
    padding: 0 5px;
}

.userInfoDropdownLink:hover {
    background-color: rgb(17, 22, 28);
}

.officerName {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.navbarRedirect:hover {
    color: gray;
}

.navbarSubPathText {
    text-decoration: none;
    outline: none;
    font-size: 30px;
    margin: 0 5px;
    display: inline-block;
    color: white;
}

.navButtonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    height: 100%;
    line-height: 3.5rem;
}

.navButton {
    font-size: 25px;
    outline: none;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.navButton:hover {
    color: gray;
    border-bottom: gray 2px solid;
}