.searchDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.paginationDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.patrolsList {
    height: calc(100% - 5.4rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 5px;
}