.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1.5 0 0;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 0.4 1 0;
    height: 100%;
}