.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.actionsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}