name: Deploy to Staging
on:
  workflow_run:
    workflows:
      - "Fullstack Build"
    branches:
      - "staging"
    types:
      - completed

  workflow_dispatch:

jobs:
  deploy_staging:
    if: github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' || github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Create SSH Key
        run: |
          echo "${{ secrets.SERVER_SSH_KEY }}" > private_key
          chmod 600 private_key

      - name: Run deploy script in staging server
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "cd /var/www/portugalia/portal_seguranca/staging && ./deploy.sh -update -skip -restart"